*{
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

div{
    background-image: url('annie-spratt-zA7I5BtFbvw-unsplash.jpg');
    
}
h1{
    text-indent: 290px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    font-style: inherit;
    font-size: 70px;
}

p{
    padding: 5px;
    text-align: justify;
    margin-left: 290px;
    font-style: normal;
    font-size: 20px;
}
h2{
    text-indent: 300px;
    font-size: 20px; 
}

#special{
    padding-bottom: 50px;
}